<?xml version="1.0" encoding="UTF-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishUrl>C:\inetpub\wwwroot\apisite\dsdemo.appeon.com\Razor</PublishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2e7b7e2e-736d-4616-b1e6-7ef30b93270f</ProjectGuid>
    <PublishProvider>FileSystem</PublishProvider>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <_IsPortable>True</_IsPortable>
    <SelfContained>False</SelfContained>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
</Project>