<div class="navbar nav_title" style="border: 0;">
    <a href="https://www.appeon.com" class="site_title" target="_blank">
        <img src="~/images/appeon.svg">
    </a>
    <div>
        <i class="fa fa-paw"></i><span>&nbsp;&nbsp;Appeon Demo!</span>
    </div>
</div>
<div class="clearfix"></div>
<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="~/images/user.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>Admin</h2>
    </div>
</div>