<div class="navbar nav_title" style="border: 0;">
    <a href="~/Index" class="site_title">
        <img src="~/images/appeon.svg">
        <i class="fa fa-paw"></i> <span>Appeon Demo!</span>
    </a>
</div>
<div class="clearfix"></div>
<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="~/images/user.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>Admin</h2>
    </div>
</div>